<h2 mat-dialog-title>How do I use CovBlock?</h2>
<mat-dialog-content class="mat-typography">
    <h2>The display:</h2>

    <p>When you first arrive on the page, you see 3 important panels:</p>
    
    <p>* The side bar where you can go through several settings. The side bar can be hidden by clicking on the 3 little menu bars (image)<br>
    * All the news articles displayed in the middle according to the settings selected<br>
    * A painting to enlighten your day</p>
    
    <h2>Preferences and settings:</h2>

    <p>Your search choices will be defined by changing the settings of the side bar.</p>

    <p><b>Source</b>: you can choose which source you want your information from<br>
      * If <b>Google</b> was chosen, as it displays several different newspapers, 
      you can decide to keep some newspaper's corona virus related info even on <b>100% blocking mode</b> by adding them in <b>Exclusions</b>. 
      If you have a trusted source and want to receive its info on any subject it is the place to put them.</p>
    
    <p>The <b>Filtering Percentage</b>: you can define the filtering percentage for coronavirus.<br>
      * <b>0%</b> corresponds to no filtering, as if you were opening the news as usual.<br>
    
      * <b>100%</b> is completely blocking all possible news related to Covid, which lets you scroll through your news feed freely.</p>
    
    <p>The <b>Category</b>: From the list of categories displayed, you can choose the one you want to explore!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
