<div id="main">
    <div *ngIf="data">
        <img class="painting" src={{data.painting}} style="width:25%; float: right;" alt="Some Art :)">
        <div *ngFor="let article of data.articles">
            <app-article-box class="box"
                                title={{article.title}} 
                                author={{article.author}} 
                                source={{article.source.name}}
                                content={{article.content}} 
                                description={{article.description}}
                                link={{article.url}}
                                img={{article.urlToImage}} 
                                time={{article.publishedAt}}
                                *ngIf="article"></app-article-box>
        </div>
    </div>
    <mat-spinner *ngIf="spin"></mat-spinner>
</div>
    