#request
{
    background-color: rgb(228, 110, 110);
    left: 45%;
    right: 45%;
}

p
{
    background-color: rgb(126, 109, 224);
    margin-left: 30%;
    margin-right: 30%;
}

#main
{
    height: 1000px;
    width: 100%;
}