
<div>
<h2 class="text-side">Filtering Percentage</h2>
    <mat-slider color="primary" value="100" thumbLabel (change)="changedPourcentage($event)"></mat-slider>
</div>

<mat-divider class="side-div"></mat-divider>

<h2 class="text-side">Category</h2>

<mat-button-toggle-group class="grid" (change)="changedCategorie($event)" vertical name="Categorie" aria-label="Font Style" value="">
            <mat-button-toggle value="">All</mat-button-toggle>
            <mat-button-toggle value="business">Business</mat-button-toggle>
            <mat-button-toggle value="entertainment">Entertainment</mat-button-toggle>
            <mat-button-toggle value="general">General</mat-button-toggle>
            <mat-button-toggle value="health">Health</mat-button-toggle>
            <mat-button-toggle value="science">Science</mat-button-toggle>
            <mat-button-toggle value="sports">Sports</mat-button-toggle>
            <mat-button-toggle value="technology">Technology</mat-button-toggle>
</mat-button-toggle-group>
  

<mat-divider class="side-div"></mat-divider>
<h2 class="text-side">Country</h2>
<mat-form-field class="selector" appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select value="" (selectionChange)="changedCountry($event)">
        <mat-option value="">All</mat-option>
        <mat-option value="ar">Argentina</mat-option>
        <mat-option value="at">Austria</mat-option>
        <mat-option value="au">Australia</mat-option>
        <mat-option value="be">Belgium</mat-option>
        <mat-option value="bg">Bulgaria</mat-option>
        <mat-option value="br">Brazil</mat-option>
        <mat-option value="ca">Canada</mat-option>
        <mat-option value="cn">China</mat-option>
        <mat-option value="co">Colombia</mat-option>
        <mat-option value="cu">Cuba</mat-option>
        <mat-option value="cz">Czechia</mat-option>
        <mat-option value="eg">Egypt</mat-option>
        <mat-option value="fr">France</mat-option>
        <mat-option value="de">Germany</mat-option>
        <mat-option value="gr">Greece</mat-option>
        <mat-option value="hk">Hong Kong</mat-option>
        <mat-option value="hu">Hungary</mat-option>
        <mat-option value="id">Indonesia</mat-option>
        <mat-option value="ie">Ireland</mat-option>
        <mat-option value="il">Israel</mat-option>
        <mat-option value="in">India</mat-option>
        <mat-option value="it">Italy</mat-option>
        <mat-option value="jp">Japan</mat-option>
        <mat-option value="lt">Lithuania</mat-option>
        <mat-option value="lv">Latvia</mat-option>
        <mat-option value="ma">Morocco</mat-option>
        <mat-option value="mx">Mexico</mat-option>
        <mat-option value="my">Malaysia</mat-option>
        <mat-option value="ng">Nigeria</mat-option>
        <mat-option value="nl">Netherlands</mat-option>
        <mat-option value="no">Norway</mat-option>
        <mat-option value="nz">New Zealand</mat-option>
        <mat-option value="ph">Philippines</mat-option>
        <mat-option value="pl">Poland</mat-option>
        <mat-option value="pt">Portugal</mat-option>
        <mat-option value="ro">Romania</mat-option>
        <mat-option value="kr">Republic of Korea</mat-option>
        <mat-option value="ru">Russia</mat-option>
        <mat-option value="sa">Saudi Arabia</mat-option>
        <mat-option value="rs">Serbia</mat-option>
        <mat-option value="se">Sweden</mat-option>
        <mat-option value="sg">Singapore</mat-option>
        <mat-option value="si">Slovenia</mat-option>
        <mat-option value="sk">Slovakia</mat-option>
        <mat-option value="ch">Switzerland</mat-option>
        <mat-option value="th">Thailand</mat-option>
        <mat-option value="tr">Turkey</mat-option>
        <mat-option value="tw">Tawian</mat-option>
        <mat-option value="ua">Ukraine</mat-option>
        <mat-option value="ae">United Arab Emirates</mat-option>
        <mat-option value="gb">United Kingdom</mat-option>
        <mat-option value="us">United States of America</mat-option>
        <mat-option value="ve">Venezuela</mat-option>
        <mat-option value="za">South Africa</mat-option>
    </mat-select>


</mat-form-field>

                                                 