
<h2 class="text-side">Source</h2>
<mat-button-toggle-group horizontal (change)="changedAPI($event)" name="Categorie" aria-label="Font Style" class="grid" value="nyt">
    <mat-button-toggle value="nyt">New York Times</mat-button-toggle>
    <mat-button-toggle value="google">Google</mat-button-toggle>
</mat-button-toggle-group>

<mat-divider class="side-div"></mat-divider>

<div>
<h2 class="text-side">Filtering Percentage</h2>
    <mat-slider color="primary" value="100" thumbLabel (change)="changedPourcentage($event)"></mat-slider>
</div>

<mat-divider class="side-div" *ngIf="showExeptions"></mat-divider>
<h2 class="text-side" *ngIf="showExeptions">Exceptions</h2>

<!-- Exeptions -->
<mat-form-field class="selector" value="" appearance="fill" *ngIf="showExeptions">
    <mat-label>Select</mat-label>
    <mat-select multiple (selectionChange)="changedException($event)">    
        <mat-option value="" disabled>None</mat-option>    
        <mat-option *ngFor="let pair of sources" [value]="pair.id">{{pair.name}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-divider class="side-div"></mat-divider>
<h2 class="text-side">Category</h2>

<!-- Google Categories  -->
<mat-button-toggle-group class="grid" (change)="changedCategorie($event)" vertical name="Categorie" aria-label="Font Style" value="" *ngIf="showExeptions">
            <mat-button-toggle value="">All</mat-button-toggle>
            <mat-button-toggle value="business">Business</mat-button-toggle>
            <mat-button-toggle value="entertainment">Entertainment</mat-button-toggle>
            <mat-button-toggle value="general">General</mat-button-toggle>
            <mat-button-toggle value="health">Health</mat-button-toggle>
            <mat-button-toggle value="science">Science</mat-button-toggle>
            <mat-button-toggle value="sports">Sports</mat-button-toggle>
            <mat-button-toggle value="technology">Technology</mat-button-toggle>
</mat-button-toggle-group>

<!-- New York Time Categories -->
<mat-button-toggle-group class="grid" (change)="changedCategorie($event)" vertical name="Categorie" aria-label="Font Style" value="" *ngIf="!showExeptions">
            <mat-button-toggle value="">All</mat-button-toggle>
            <mat-button-toggle value="business">Business</mat-button-toggle>
            <mat-button-toggle value="fashion">Fashion</mat-button-toggle>
            <mat-button-toggle value="food">Food</mat-button-toggle>
            <mat-button-toggle value="health">Health</mat-button-toggle>
            <mat-button-toggle value="movies">Movies</mat-button-toggle>
            <mat-button-toggle value="politics">Politics</mat-button-toggle>
            <mat-button-toggle value="science">Science</mat-button-toggle>
            <mat-button-toggle value="sports">Sports</mat-button-toggle>
            <mat-button-toggle value="technology">Technology</mat-button-toggle>
            <mat-button-toggle value="theater">Theater</mat-button-toggle>
            <mat-button-toggle value="world">World</mat-button-toggle>
</mat-button-toggle-group>




<!-- Country -->
<mat-divider class="side-div" *ngIf="showExeptions"></mat-divider>
<h2 class="text-side" *ngIf="showExeptions">Country</h2>
<mat-form-field class="selector" appearance="fill" *ngIf="showExeptions">
    <mat-label>Select</mat-label>
    <mat-select value="" (selectionChange)="changedCountry($event)">
        <mat-option value="">All</mat-option>
        <mat-option value="ca">Canada</mat-option>
        <mat-option value="fr">France</mat-option>
        <mat-option value="it">Italy</mat-option>
        <mat-option value="gb">United Kingdom</mat-option>
        <mat-option value="us">United States of America</mat-option>
    </mat-select>
</mat-form-field>


 