<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button color="white" (click)="side.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">CovBlock</h1>
  </mat-toolbar>
    <mat-sidenav-container [hasBackdrop]="false" class="example-sidenav-container">
      
      <mat-sidenav #side opened="true" [mode]="'over'" style="width: 18%;">
        <app-side-content>
        </app-side-content>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-list-news>
          
        </app-list-news>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
</html>



